

<sb-layout-dashboard>
    <sb-dashboard-head [hideBreadcrumbs]="true"></sb-dashboard-head>
 <div class="container">
     <h1>New user</h1>
     <div class="row">
         <div class="col-sm-6">
             <label>Email</label>
             <input type="text" class="form-control ">
         </div>
         <div class="col-sm-6">
             <label>Phone number</label>
            <input type="text" class="form-control ">
        </div>
     </div>
     <div class="row">
        <div class="col-sm-6">
            <label>First name</label>
            <input type="text" class="form-control ">
        </div>
        <div class="col-sm-6">
            <label>Last name</label>
           <input type="text" class="form-control ">
       </div>
    </div>
    <br>
    <div>
        <button class="btn btn-outline-success float-right">Submit</button>
      </div>
 </div>
</sb-layout-dashboard>

