<sb-layout-dashboard>
  <sb-dashboard-head title="create new member" [hideBreadcrumbs]="true"></sb-dashboard-head>
  <br />
  <br />

  <form [formGroup]="forms" #form="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="form-group col-sm-4">
        <label>First name</label>
        <input type="text" class="form-control" formControlName="firstName" />
      </div>
      <div class="form-group col-sm-4">
        <label>Last name</label>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>
      <div class="form-group col-sm-4">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label>Age</label>
        <input type="number" class="form-control" formControlName="age" />
      </div>
      <div class="form-group col-sm-4">
        <label>Relationship</label>
        <select  formControlName="relationShip" name="relationShip" id="relationShip" class="form-control">
            <option></option>
            <option *ngFor="let relation of relations">{{relation.name}}</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label>Phone number</label>
        <input type="text" class="form-control" formControlName="phone" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label>Gender</label>
        <select name="gender" formControlName="gender" id="age" class="form-control">
           <option></option>
            <option>male</option>
            <option>female</option>
            <option>other</option>
        </select>
      </div>
    </div>
    <div style="float: right">
      <button class="btn btn-primary" [class.spinner]="loading" [disabled]="loading || form.invalid">Submit</button>
    </div>
  </form>
</sb-layout-dashboard>
