.nav {
    background-color: #13b964;
    height: auto;
    background: transparent linear-gradient(90deg, #ffffff 0%, #00a651 100%) 0% 0%
      no-repeat padding-box;
  }
  .header {
    background-color: #13b964;
  }
  .mid-section {
    background-color: #ffffff;
  }
  

  .logo-section {
    margin: 17px;
  }

  
  .footer-class {
    list-style: none;
    font-size: 12px;
  }
  
  .footer-class .footer {
    background-color: #f1f5f8;
    height: 96px;
    padding-top: 30px;
    background: #f1f5f8;
    margin-left: 0%;
  }
  
  .footer li{
    display: inline;
    border-right: 1px solid ;
    color:  #707070;
    letter-spacing: 0%;
  }
  .footer li:last-child{border-right: 0; padding-right: 0;}
  
  
  .text-center {
    margin-left: 1%;
  }
  .login-page {
    background: #00a651;
      border-radius: 78px 0px;
      opacity: 0.9;
      width: auto;
      margin: auto;
      padding: 50px;
      font-size: 14px;
      margin-top: 30%;
  
  }
  .btn-warning{
    align-items: center;
    margin-right: 3%;
    padding-left: 38%;
    padding-right: 40%;
    color: #ffffff;
  }
  .signup{
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    cursor: pointer;
  }
  .input{
    background-color: #00a651;
    color: #ffffff;
    border-color: #ffffff;
    text-decoration-color: #ffffff;
  }
  .label{
    color: #ffffff;
  }
  ::placeholder{
    color: #ffffff;
    font-size: 12px;
  }
  