a {
    text-decoration: none;
}

.text-color {
    color: #FFFFFF;
    opacity: 1;
}

.graph {
    margin: 6px;
    height: 400px;
    border-radius: 4px;
    background-color: rgb(245, 246, 247);
}

.custom-font {
    padding: 4px;
    color: #30336B;
    font-weight: bold;
    text-decoration: underline;
}

.dash-card {
    background-color: #0A3D62;
}

.card-padding {
    padding: 15px;
}

.card-padding p {
    font-size: 20px !important;
}

.front {
    border-radius: 5px;
}

.front:hover {
    cursor: pointer;
    transition: all 250ms linear;

}