<sb-layout-dashboard>
  <sb-dashboard-head
    title="Dashboard"
    [hideBreadcrumbs]="false"
  ></sb-dashboard-head>
  <div class="row">
    <div class="col-md-6">
      <div class="">
        <h2 class="" style="text-decoration: none">Dashboard</h2>
        <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="colorScheme"
          [results]="systemUsers"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</sb-layout-dashboard>
